.skills-section {
  background: white;
  color: black;
  padding: 60px 80px;
}

.skills-subtitle {
  color: rgb(21, 4, 132);
  font-size: 14px;
  margin-bottom: 8px;
}

.skills-title {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills-list {
  max-width: 700px;
}

.skill-item {
  margin-bottom: 22px;
 
}

.skill-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: black;
  border-radius: 12px black ;
  overflow: hidden;
 
}

.skill-progress {
  height: 100%;
  background: linear-gradient( blue);
  border-radius: 10px;
  transition: width 0.6s ease;
}
